* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0cb;
    text-align: center;
}
h1{
    color: black;
    font-size: 12vmin;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0,0.3);
    font-size: 8vmin;
    color: #e4e4ab;
    background-color: #8B4513;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(17, 17, 17);
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(17, 17, 17);
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #2f1b17;
    font-size: 10vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    z-index: 2; 
    position: relative; 
}

.hide {
    display: none;
}

.line {
    position: absolute;
    background-color: rgb(9, 9, 9);
    z-index: 1;
}

/* Add these new styles */
.box.x {
    color: blue;
}

.box.o {
    color: rgb(14, 203, 70);
}
